html {
  overflow-y: overlay;
  scrollbar-gutter: stable;
}

.blur-background {
  filter: blur(4px);
}

.checkbox-button input[type="checkbox"] {
  display: none;
}

.transform {
  top: -150%;
  opacity: 0;
  z-index: 40;
  transform: scale(1.25);
}

.transform-active {
  top: 25%;
  z-index: 100;
  opacity: 1;
  transform: scale(1);
}

.transition-transform {
  transition: top 200ms ease-in-out, opacity 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.addPropertyBtn {
  z-index: 100;
}

.formshadow {
  box-shadow: 5px 0px 30px 0px black;
}

/* Large screens (lg) */
@media (min-width: 1024px) {
  .flex-row {
    flex-direction: row;
  }
  .addPropertyBtn {
    font-size: 1.5rem;
  }
}

/* Medium screens (md) */
@media (min-width: 768px) and (max-width: 1023px) {
  .flex-row {
    flex-direction: column;
  }
  .addPropertyBtn {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

/* Small screens (sm) */
@media (max-width: 767px) {
  .flex-row {
    flex-direction: column;
  }
  .addPropertyBtn {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

/* Extra small screens (xs) */
@media (max-width: 479px) {
  .flex-row {
    flex-direction: column;
  }
  .addPropertyBtn {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
